{% extends './base.html' %}
{% load static %}

{% block title %}
    <title>密码修改成功</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css">
{% endblock %}


{% block container %}
    <div class="container cont_register">
        {% block mainbody %}
            <div class="row">
                <div class="col-lg-2 col-lg-offset-4">
                    <h1 class="logo"><a href="{% url 'index' %}">点击跳转</a></h1>
                    <p>密码修改成功！</p>
                </div>
            </div>
        {% endblock mainbody %}

        {% block centerblock %}
            <div class="row center-block login_null">

            </div>
        {% endblock centerblock %}
    </div>
{% endblock container %}


{% block footer %}
{% endblock footer %}


