.navhover{
    background-color: #0f0f0f;
    color: #ffffff;
}

.navhover ul li:hover{
    background-color: #a6e1ec;
}


.copyright{
    text-align: center;
    background-color: #5e5e5e;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
}
.bottom {
    background-color: #5e5e5e;
}
.leaflet{

}