.navhover{
    background-color: #0f0f0f;
    color: #ffffff;
}

.navhover ul li:hover{
    background-color: #a6e1ec;
}

.bottom {
    background-color: #f8f8f8;
}
.leaflet{
    text-align: center;
    height: 45px;
    line-height: 45px;
    color: #000000;
}

.leaflet .row .col-lg-4 .friendly {
    padding:0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}



