.navhover{
    background-color: #0f0f0f;
    color: #ffffff;
}

.navhover ul li:hover{
    background-color: #a6e1ec;
}

.bottom {
    background-color: #0f0f0f;
}

.copyright{
    text-align: center;
    background-color: #0f0f0f;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
}

.leaflet{
    text-align: center;
    background-color: #0f0f0f;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
}