.headertitle{
    text-align: center;
}






.cont_register{
    background: url("/static/images/login_bg.jpg");
}


/*----register-------*/

.errorlist {
            color: red;
        }

/*----register-------*/


/*----login-------*/
.errorlist{
    color: red;
}
.odl{
    float: left;
}
.odr{
    float: right;
}


.login_null{
    padding-bottom: 150px;
}

/*----login-------*/





