*{
	margin: 0;
	padding: 0;
}
.wrapper{
	background:url("/static/images/bg.jpg");
	background-size: 100% 100%;
	position:fixed;
	left:0;
	top:0;
}
.start{
	top:100px;
	left:80px;
	position: absolute;
}
.start,.over,.Restart{
	font-size: 30px;
	font-weight: bold;
	height:70px;
	width:200px;
	border-radius:15px;
	background:linear-gradient(#000,red,#fff);
	color: #fff;
}
button.Restart{
	border: 4px solid #ff0;
	background:linear-gradient(#f00,#000,#f00);
}
button.Restart:active{
	transition: 0.5s;
	transform: scale(1.4,1.1)
}
button.over:active{
	transition: 0.5s;
	transform: scale(1.4,1.1)
}
button.start:active{
	transition: 0.5s;
	transform: scale(1.4,1.1)
}
.over{
	display: none;
	position: absolute;
	top:100px;
	left:80px;
}
.prompt,.prompt1{
	position:absolute;
	top:20px;
	left:50%;
	width: 500px;
	margin-left:-400px;
	font-size: 40px;
	text-align: center;
	font-family:"仿宋";
	display: none;
}
/* .prompt */
p.prompt1{
	left:50%;
	margin: 0;
	/* font-size: 20px; */
}
.prompt>span{
	color:red;
	font-size: 60px;
	font-style: italic;
}
.box{
	width:1296px;
	height:699px;
	/* border:2px solid #005066ff; */
	border-top:2px #005066ff solid;
	border-right:2px #005066ff solid;
	margin: 150px auto 0 auto;
	box-shadow: 2px 7px 10px black;
	transform: perspective(800px) rotateY(-10deg);
	display: none;
	background:#ad7845;
}
.block{
	width:70px;
	height:68px;
	border-bottom:2px solid black;
	border-left:2px solid black;
	background:#0f0;
	float: left;
}
.block:hover{
	cursor: pointer;
	/* background:#00f; */
	/* color: #fff; */
}
.show{
	background:url("/static/images/bomb.png");
	background-size: 100%;
}
.num{
	background:#fff;
	text-align: center;
	font-size:30px;
	line-height: 68px;
	color: #000;
	font-weight: bolder;
}
.Flags{
	background: url("/static/images/Flags.jpg");
	background-size: 100% 100%;
} 
.GameWin,.overBox{
	width: 500px;
	height: 500px;
	background:linear-gradient(#000,#f00);
	color: #fff;
	font-size: 50px;
	text-align:center;
	line-height:150px;
	margin: 0 auto;
	text-shadow: 2px 4px 10px #00f;
	font-style: italic;
	display:none;
}
.overBox{
	line-height: 300px;
}
.Prompt{
	color: red;
	font-weight: bolder;
	letter-spacing:10px;
	position: absolute;
	font-size: 25px;
}
